@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-nui > div > ul,
.markdown-nui > ul {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  list-style-image: url('/check.svg');
}

.markdown-nui > p,
.markdown-nui > div > p {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-nui > div > ul > li > ul,
.markdown-nui > ul > li > ul {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}
