@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-nui-theme-table > div > ul,
.markdown-nui-theme-table > ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-image: url('/check.svg');
}

.markdown-nui-theme-table > p,
.markdown-nui-theme-table > div > p {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-nui-theme-table > div > ul > li > ul,
.markdown-nui-theme-table > ul > li > ul {
  margin-top: 0;
  margin-bottom: 0;
}

.prose :where(ol):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  list-style-type: decimal;
  margin-top: 0px;
  margin-bottom: 8px;
  padding-left: 1.625em;
}

.prose :where(li):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  margin-top: 8px;
  margin-bottom: 8px;
}

.prose :where(ul):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  margin-top: 8px;
  margin-bottom: 8px;
}

.prose
  :where(ul > li):not(
    :where([class~='not-prose'], [class~='not-prose'] *)
  )::marker {
  color: #344054;
}

.prose :where(a):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  color: #b26110;
  text-decoration: underline;
  font-weight: 500;
}

.PhotoView-Slider__BannerWrap {
  background: transparent !important;
}
.PhotoView-Slider__Counter {
  color: white;
  margin-top: 20px;
  margin-right: 12px;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
}
.PhotoView-Slider__toolbarIcon {
  color: white;
  margin-top: 20px;
  margin-right: 12px;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
}
.PhotoView-Slider__ArrowLeft svg,
.PhotoView-Slider__ArrowRight svg {
  border-radius: 0.5rem;
}
.PhotoView__Photo {
  border-radius: 0.5rem;
}
